/* index.css */
/* tailwind libarary */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  width: 100vw;
  height: 100vh;
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
  position: relative;
}

body::-webkit-scrollbar {
  display: none;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.community:hover:before {
  content: 'community';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -40px;
  font-weight: bold;
  color: rgb(46, 69, 120);
}

.hide_scrollbar::-webkit-scrollbar {
  display: none;
}

/* End of body */